name: Publish to npm

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write # Required for OIDC authentication
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v5

      - run: npm ci
      - run: npm run build
      - run: npm test
      - run: npm publish
